.medicalcare-container{
    width: 100vw;
    display: flex;
    justify-content: center;
}

.medicalcare-img-container{
    height: 200px;
    width: 200px;
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.5s ease;
}
.medicalcare-img-container img{
    height: 100%;
    width: 100%;
    transition: all 0.3s ease;

}
.medicalcare-img-container img:hover{
    transform: scale(1.1,1.1);
    cursor: pointer;
}
.medicalcare-img-container:hover{
    border-radius: 0px;
}
.medicalcare-square{
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 50vw;
    padding: 50px;
}
.medicalcare-top-container{
    display: flex;
    flex-direction: column;
 align-items: center;
 width: 30vw;
 text-align: center;
}
.medicalcare-top-container h1{
    color: var(--darkGrey);
}
.medicalcare-top-container h3{
    color:var(--grey);
}
.medicalcare-bottom-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50vw;
    padding: 50px;
}
.medicalcare-item-container{
    display: flex;
    flex-direction: column;
    width: 15vw;
    justify-content: center;
    align-items: center;

}
.medicalcare-text-container{
    border-radius: 5px;
    position: relative;
    z-index: 2;
    top: -5vh;
    width: 230px;
    height: 230px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 15px;
    padding-left: 15px;
    background-color: white;
    box-shadow: 0px 5px 11px 4px rgba(156,141,141,0.35);
-webkit-box-shadow: 0px 5px 11px 4px rgba(156,141,141,0.35);
-moz-box-shadow: 0px 5px 11px 4px rgba(156,141,141,0.35);
}
.medicalcare-bottom-top-sec{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.medicalcare-bottom-bottom-sec{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.medicalcare-text-container h1{
    color: var(--darkGrey);
    font-size: 23px;
}
.medicalcare-text-container p{
    color: var(--grey);

}
@media only screen and (max-width:1500px){
    .medicalcare-square{
        width: 70vw;
    }
    .medicalcare-bottom-container{
        width: 70vw;
    }
}
@media only screen and (max-width:1100px){
    .medicalcare-square{
        width: 80vw;
    }
    .medicalcare-bottom-container{
        width: 80vw;
    }
    .medicalcare-top-container{
        width: 60vw;
    }
    .medicalcare-top-container h1{
        font-size: 20px;
    }
    .medicalcare-top-container h3{
        font-size: 20px;
    }
}
@media only screen and (max-width:800px){
    .medicalcare-bottom-bottom-sec{
        flex-direction: column;
        padding: 0;
    }
    .medicalcare-bottom-top-sec{
        flex-direction: column;
        width: 100vw;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0;
    }
    .medicalcare-item-container{
        width: 100vw;
        padding: 0;
    }
    .medicalcare-square{
        width: 100vw;
        padding: 0;
    }
    .medicalcare-bottom-container{
        padding: 0;
        width: 100vw;
        align-items: center;
    }
    .medicalcare-top-container h1{
        font-size: 15px;
    }
    .medicalcare-top-container h3{
        font-size: 15px;
    }
}

